__pycache__/demo_fireredasr.cpython-313.pyc
__pycache__/demo_sensevoice.cpython-313.pyc
build/demo_sensevoice/Analysis-00.toc
build/demo_sensevoice/base_library.zip
build/demo_sensevoice/demo_sensevoice.pkg
build/demo_sensevoice/EXE-00.toc
build/demo_sensevoice/PKG-00.toc
build/demo_sensevoice/PYZ-00.pyz
build/demo_sensevoice/PYZ-00.toc
build/demo_sensevoice/warn-demo_sensevoice.txt
build/demo_sensevoice/xref-demo_sensevoice.html
build/demo_sensevoice/localpycs/pyimod01_archive.pyc
build/demo_sensevoice/localpycs/pyimod02_importers.pyc
build/demo_sensevoice/localpycs/pyimod03_ctypes.pyc
build/demo_sensevoice/localpycs/pyimod04_pywin32.pyc
build/demo_sensevoice/localpycs/struct.pyc
dist/demo_sensevoice.exe
dist/keyboard_debug.log
sherpa-onnx-fire-red-asr2-ctc-zh_en-int8-2026-02-25/model.int8.onnx
sherpa-onnx-fire-red-asr2-ctc-zh_en-int8-2026-02-25/README.md
sherpa-onnx-fire-red-asr2-ctc-zh_en-int8-2026-02-25/tokens.txt
sherpa-onnx-fire-red-asr2-ctc-zh_en-int8-2026-02-25/test_wavs/0.wav
sherpa-onnx-fire-red-asr2-ctc-zh_en-int8-2026-02-25/test_wavs/1.wav
sherpa-onnx-fire-red-asr2-ctc-zh_en-int8-2026-02-25/test_wavs/2.wav
sherpa-onnx-fire-red-asr2-ctc-zh_en-int8-2026-02-25/test_wavs/3-sichuan.wav
sherpa-onnx-fire-red-asr2-ctc-zh_en-int8-2026-02-25/test_wavs/3.wav
sherpa-onnx-fire-red-asr2-ctc-zh_en-int8-2026-02-25/test_wavs/4-tianjin.wav
sherpa-onnx-fire-red-asr2-ctc-zh_en-int8-2026-02-25/test_wavs/5-henan.wav
sherpa-onnx-fire-red-asr2-ctc-zh_en-int8-2026-02-25/test_wavs/8k.wav
sherpa-onnx-fire-red-asr2-zh_en-int8-2026-02-26/decoder.int8.onnx
sherpa-onnx-fire-red-asr2-zh_en-int8-2026-02-26/encoder.int8.onnx
sherpa-onnx-fire-red-asr2-zh_en-int8-2026-02-26/README.md
sherpa-onnx-fire-red-asr2-zh_en-int8-2026-02-26/tokens.txt
sherpa-onnx-fire-red-asr2-zh_en-int8-2026-02-26/test_wavs/0.wav
sherpa-onnx-fire-red-asr2-zh_en-int8-2026-02-26/test_wavs/1.wav
sherpa-onnx-fire-red-asr2-zh_en-int8-2026-02-26/test_wavs/2.wav
sherpa-onnx-fire-red-asr2-zh_en-int8-2026-02-26/test_wavs/3-sichuan.wav
sherpa-onnx-fire-red-asr2-zh_en-int8-2026-02-26/test_wavs/3.wav
sherpa-onnx-fire-red-asr2-zh_en-int8-2026-02-26/test_wavs/4-tianjin.wav
sherpa-onnx-fire-red-asr2-zh_en-int8-2026-02-26/test_wavs/5-henan.wav
sherpa-onnx-fire-red-asr2-zh_en-int8-2026-02-26/test_wavs/8k.wav
sherpa-onnx-sense-voice-zh-en-ja-ko-yue-2024-07-17/export-onnx.py
sherpa-onnx-sense-voice-zh-en-ja-ko-yue-2024-07-17/LICENSE
sherpa-onnx-sense-voice-zh-en-ja-ko-yue-2024-07-17/model.int8.onnx
sherpa-onnx-sense-voice-zh-en-ja-ko-yue-2024-07-17/model.onnx
sherpa-onnx-sense-voice-zh-en-ja-ko-yue-2024-07-17/README.md
sherpa-onnx-sense-voice-zh-en-ja-ko-yue-2024-07-17/tokens.txt
sherpa-onnx-sense-voice-zh-en-ja-ko-yue-2024-07-17/test_wavs/en.wav
sherpa-onnx-sense-voice-zh-en-ja-ko-yue-2024-07-17/test_wavs/ja.wav
sherpa-onnx-sense-voice-zh-en-ja-ko-yue-2024-07-17/test_wavs/ko.wav
sherpa-onnx-sense-voice-zh-en-ja-ko-yue-2024-07-17/test_wavs/yue.wav
sherpa-onnx-sense-voice-zh-en-ja-ko-yue-2024-07-17/test_wavs/zh.wav
whisper-tiny-int8/added_tokens.json
whisper-tiny-int8/config.json
whisper-tiny-int8/generation_config.json
whisper-tiny-int8/merges.txt
whisper-tiny-int8/normalizer.json
whisper-tiny-int8/openvino_config.json
whisper-tiny-int8/openvino_decoder_model.bin
whisper-tiny-int8/openvino_decoder_model.xml
whisper-tiny-int8/openvino_detokenizer.bin
whisper-tiny-int8/openvino_detokenizer.xml
whisper-tiny-int8/openvino_encoder_model.bin
whisper-tiny-int8/openvino_encoder_model.xml
whisper-tiny-int8/openvino_tokenizer.bin
whisper-tiny-int8/openvino_tokenizer.xml
whisper-tiny-int8/preprocessor_config.json
whisper-tiny-int8/special_tokens_map.json
whisper-tiny-int8/tokenizer_config.json
whisper-tiny-int8/tokenizer.json
whisper-tiny-int8/vocab.json
keyboard_debug.log
sherpa-onnx-fire-red-asr2-ctc-zh_en-int8-2026-02-25.tar.bz2
sherpa-onnx-fire-red-asr2-zh_en-int8-2026-02-26.tar.bz2
